@import url('file:///C:\Users\samar\OneDrive\Desktop\AppWeb2\Global-Games\GlobalGames_BrunoSa_Marques\GlobalGames_BrunoSa_Marques\GlobalGames_BrunoSa_Marques\wwwroot\css\site.min.css');
@import url('file:///C:\Users\samar\OneDrive\Desktop\AppWeb2\Global-Games\GlobalGames_BrunoSa_Marques\GlobalGames_BrunoSa_Marques\GlobalGames_BrunoSa_Marques\wwwroot\css\site.css');
body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background-color: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

    header a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
    }

    header li {
        display: inline;
        padding: 0 20px 0 20px;
    }

    header #logo {
        float: left;
    }

    header h1 {
        margin: 0;
    }

    header nav {
        float: right;
        padding-top: 10px;
    }

    header .destaque,
    header .selecionado a {
        color: #e8491d;
        font-weight: bold;
    }

    /*Pseudo-selector hover*/
    header a:hover {
        color: #ccc;
        font-weight: bold;
    }

/*Showcase*/
#showcase {
    min-height: 400px;
    background: url(../images/showcase.jpg) no-repeat 0 -400px;
    text-align: center;
    color: #fff;
}

    #showcase h1 {
        margin-top: 100px;
        font-size: 55px;
        margin-bottom: 10px;
    }

    #showcase p {
        font-size: 20px;
    }

/*Newsletter*/
#newsletter {
    padding: 15px;
    color: #fff;
    background: #35424a
}

    #newsletter h1 {
        float: left;
    }

    #newsletter form {
        float: right;
        margin-top: 15px;
    }

    #newsletter input[type='email'] {
        padding: 4px;
        height: 25px;
        width: 250px;
    }

/*Boxes*/
#boxes {
    margin-top: 20px;
}

    #boxes .box {
        float: left;
        text-align: center;
        width: 30%;
        padding: 10px;
    }

        #boxes .box img {
            width: 90px;
        }

/*Página sobre*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 50px;
}

article#main-col {
    float: left;
    width: 65%;
}

/*Página serviços*/
ul#servicos li {
    list-style: none;
    padding: 20px;
    border: #ccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

aside#sidebar .orcamento input,
aside#sidebar .orcamento textarea {
    width: 90%;
    padding: 5px;
}



/*Estilo Form list*/

#form-containner{
    min-width:600px;
}


#regist{
    background-color:#35424a;
    
    position:relative;
    height:400px;
    
    border-radius:5px;
   
}
    #regist #List-item1{
        color:#e8491d;
        font-style:italic;
        font-size:12pt;
        margin:auto;
        position:absolute;
        top:30px;
        left:2vw;
        width:100%;

    }

        #regist #List-item1 input{
            width:80%;
            margin-left:15px;

        }

    #regist #List-item2 {
        color: #e8491d;
        font-style: italic;
        font-size: 12pt;
        margin: auto;
        position: absolute;
        top: 70px;
        left: 2vw;
        width: 100%;
    }

        #regist #List-item2 input {
            width: 80%;
            margin-left: 5px;
        }

    #regist #List-item3 {
        color: #e8491d;
        font-style: italic;
        font-size: 12pt;
        margin: auto;
        position: absolute;
        top: 110px;
        left: 2vw;
        width: 100%;
    }

        #regist #List-item3 input {
            width: 80%;
            margin-left: 5px;
        }

    #regist #List-item4 {
        color: #e8491d;
        font-style: italic;
        font-size: 12pt;
        margin: auto;
        position: absolute;
        top: 150px;
        left: 2vw;
        width: 100%;
    }

        #regist #List-item4 input {
            width: 75%;
            margin-left: 10px;
        }

    #regist #List-item5 {
        color: #e8491d;
        font-style: italic;
        font-size: 12pt;
        margin: auto;
        position: absolute;
        top: 190px;
        left: 2vw;
        width: 100%;
    }

        #regist #List-item5 input {
            width: 80%;
            margin-left: 35px;
        }

    #regist #List-item6 {
        color: #e8491d;
        font-style: italic;
        font-size: 12pt;
        margin: auto;
        position: absolute;
        top: 230px;
        left: 2vw;
        width: 100%;
    }

        #regist #List-item6 input {
            width: 50%;
            margin-left: 20px;
        }


#resg_list{
    position:absolute;
    top:85%;
    left:80%;

}
/*Footer*/
footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background: #e8491d;
    text-align: center;
}
