@{
    ViewData["Title"] = "About";
}
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="titulo">Sobre nós</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perspiciatis nobis, in debitis iste ex optio! Dignissimos ratione autem est eos ipsum optio eligendi ad et molestias, soluta officiis ut consequuntur perferendis commodi architecto vitae, excepturi cupiditate, tenetur pariatur. Nam nesciunt unde, aliquid fugiat blanditiis magnam sunt recusandae illo corrupti?</p>
            <p class="dark">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat ex, debitis ad dicta, velit fugiat inventore odit nisi molestias consequatur voluptates doloremque soluta temporibus aperiam illum sapiente ea provident dolorem totam libero omnis ab, impedit culpa! Voluptatem ipsam itaque quas, recusandae facilis, nam praesentium repellendus aliquid, tempora accusantium ad excepturi.</p>
        </article>
        <aside id="sidebar">
            <div class="dark">
                <h3>O que fazemos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error deleniti porro neque impedit! Et eaque aliquam id, fugit dolorem fuga nisi, mollitia nemo, assumenda soluta perferendis ut reiciendis quibusdam. Deleniti odit ipsa minima est autem in nobis velit quaerat beatae sit voluptate, magnam modi dolore quibusdam quo dolorum commodi voluptates neque? Voluptas, illum. Minus at, qui cupiditate voluptatem sapiente, aliquam enim quia facere asperiores quisquam officia nobis numquam iusto sequi!</p>
            </div>
        </aside><!--fim do aside-->
    </div>
</section>
@section Scripts{
    <script type="text/javascript">document.querySelector('#About').className = 'selecionado';</script>
}