

@model GlobalGames_BrunoSa_Marques.Entities.Entities.Orcamento


@{
    ViewData["Title"] = "Contact";
}


<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="titulo">Serviços</h1>
            <ul id="servicos">
                <li>
                    <h3>Jogos Unity</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
                <li>
                    <h3>Personagens em 3D</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
                <li>
                    <h3>Ginjinha de Óbidos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam delectus natus ut consectetur ad tenetur fugit ab pariatur omnis.</p>
                    <p>Preços: 1000&euro; - 3000&euro;</p>
                </li>
            </ul>
        </article>
        <aside id="sidebar">
            <div class="dark">
                <h3>Peça um orçamento</h3>
                <form class="orcamento" asp-action="Create">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="text-danger">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div><br>
                    <div>
                        <label asp-for="Mail" class="control-label"></label>
                        <input asp-for="Mail" class="form-control" />
                        <span asp-validation-for="Mail" class="text-danger"></span>

                    </div>
                    <div>
                        <label asp-for="Message" class="control-label"></label>
                        <textarea asp-for="Message" class="form-control" placeholder="Mensagem"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <button class="button_1" type="submit">Enviar</button>
                </form>
            </div>
        </aside>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">document.querySelector('#Contact').className = 'selecionado';</script>
}
